<div id="timer">
  <div  class="edit-wraper">
    <app-display [sec]="sec" [min]="min" [hours]="hours" [editable]="editStatus" (stopEdit)="stopEditDisplay($event)">
    </app-display>
    <button class="btn" [class.active]="activeClass" (click)="getStart()">{{startBtnText}}</button>
    <button class="btn" [disabled]="isDisabled" (click)="resetTimer()">{{resetBtnText}}</button>
  </div>
  <div class="edit-wraper">
    <div id="showTimer">Timer 1 ({{defHours}}:{{defMin}}:{{defSec}})</div>
    <div id="edit" (click)="startEdit()">🖉 edit </div>
  </div>
</div>