<section [class.frame]="editable" (keydown)="keydown($event, s.textContent, m.textContent, h.textContent)">
    <span id ="hours" class="display" (blur)="savedKeys = '' " [contentEditable]="editable" #h [textContent]="hours"></span>
    <span class="display">:</span>
    <span  id ="minutes" class="display" (blur)="savedKeys = '' " [contentEditable]="editable" #m [textContent]="min"></span>
    <span class="display">:</span>
    <span id ="seconds"  class="display" (blur)="savedKeys = '' " [contentEditable]="editable" #s [textContent]="sec">
    </span>
</section>